<div class="container">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Username</th>
      <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr style="height: 20px;" *ngFor="let userMongo of users">
      <th style="width: 40%">{{ userMongo.name }}</th>
      <th style="width: 40%">{{ userMongo.surname }}</th>
      <th style="width: 40%">{{ userMongo.username }}</th>
      <th style="white-space: nowrap">
        <button type="button" class="btn btn-success btn-xs" (click)="updateUser(userMongo.userId)">Update</button>
        <button type="button" class="btn btn-danger btn-xs" (click)="deleteUser(userMongo.userId)">Delete</button>
      </th>
    </tr>
    </tbody>
  </table>
  <app-user-mongo-save-edit></app-user-mongo-save-edit>
</div>

